
@{
    ViewBag.Title = "Mensagens";
    Layout = "~/Views/Shared/_AreaPessoal.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nome da area</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a7c7c4a450.js" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Mensagens</h2>
    <div id="chatBox" class="container float-left mb-3">
        <div class="mt-2">
            <p><span class="nsFormat">Nuno Silvano :</span><span class="nsFormat-Text">tudo bem?</span><span class="chatTime">(dd/mm/yyyy) 00:00</span></p>
            <p><span class="meFormat">Eu :</span><span class="meFormat-Text">sim</span><span class="chatTime">(dd/mm/yyyy) 00:00</span></p>
            @{
                int i = 0;
                while (i < 10)
                {
                    <p><span class="nsFormat">Nuno Silvano :</span><span class="nsFormat-Text">tudo bem?</span><span class="chatTime">(dd/mm/yyyy) 00:00</span></p>
                    <p><span class="meFormat">Eu :</span><span class="meFormat-Text">sim</span><span class="chatTime">(dd/mm/yyyy) 00:00</span></p>
                    i++;
                }
              }
        </div>
    </div>
    <div id="messageBox" class="input-group">
        <input type="text" class="form-control" placeholder="(dd/mm/yyyy) 00:00" aria-label="Message">
        <div class="input-group-append">
            <button class="btn" type="button" id="messageButton">Enviar</button>
        </div>
    </div>


    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
        let select = document.getElementById('navMessage');

        window.onload = function SelectNav() {
            select.classList.add('navPersonal');
        }
    </script>
</body>
</html>
